<%- include('includes/header') %>
<body>
<div>
 <div> PRODUCTS </div>
 <div><%=member.memberNick %></div>

 <% products.map((value, key) => { %>
    <p><%= value.productName %> - <%= value.productPrice %>$</p>
<% }) %>
</div>
</body>
<%- include('includes/footer') %>